@import "tailwindcss";

:root {
    --background: #FFFCF2;
    --foreground: #252422;
    --mid: #403D39;
    --light: #CCC5B9;
}

body {
    background: var(--background);
    color: var(--foreground);
}
